version: "3.8"
services:
  backend:
    container_name: app
    build: ./
    volumes:
      - .:/src
    command: alembic upgrade head; uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload'
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - FIRST_SUPERUSER_EMAIL=admin@example.com
      - FIRST_SUPERUSER_LOGIN=admin
      - FIRST_SUPERUSER_PASSWORD=admin
      - JWT_SECRET=-5otUNN3xviqIy1rxRsUb-pTM_OoEcozsay8pfIE76A
    depends_on:
      - postgres
  postgres:
    container_name: postgres_db
    restart: always
    image: postgres:alpine
#    volumes:
#      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: root@root.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - postgres

#volumes:
#  postgres_data: